<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/product-listing" routerLinkActive="active">
        <i class="bi bi-box-seam me-2"></i>
        <span>Product Listing</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-product" routerLinkActive="active">
        <i class="bi bi-calendar-event me-2"></i>
        <span>Add Product</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <i class="bi bi-calendar-event me-2"></i>
        <span>Logout</span>
    </a>     
    </li>
  </ul>
</div>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

  
