body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

.styled-input {
    border: 1px solid #000000;
}
